.counter {
    padding: 5px;
    width: 230px;
    height: 146px;
    border: 2px solid #55cbcc;
    border-radius: 10px;
}

.display {
    font-size: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border-radius: 7px;
    border: 2px solid #55cbcc;
}

.displayError {
    font-size: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    border-radius: 7px;
    border: 2px solid #55cbcc;
    color: red;
}

.display span {
    display: inline-block;
    font-weight: bold;
    color: #55cbcc;
}

.buttonsContainer {
    height: 32px;
    margin-top: 5px;
    border: 2px solid #55cbcc;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}